.card {
  border: 2px solid rgb(231, 219, 105);
  box-shadow: -1px 1px 0 #000, 
              1px 1px 0 #000, 
              1px -1px 0 #000,
              -1px -1px 0 #000;
}

.accept {
  background-color: rgb(231, 219, 105);
}

.custom-button {
  background-color: rgb(231, 219, 105);
  border-color: rgb(231, 219, 105);
  transition: all 0.1s ease-in;
  color: white;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
}
  
.custom-button:hover {
  background-color: rgb(190, 176, 47);
  border-color: rgb(190, 176, 47);
}

.title{
  color: rgb(231, 219, 105);
  text-shadow: 1px 1.5px 1px rgba(0, 0, 0, 0.747);
  font-size: 25px;
}