<div class="fade-in-fwd">
  <div class="card bg-style mx-5 my-5">

    <!-- HEADER -->
    <div class="card-header">
      <h5 class="card-title title titulo float-left mt-2 font-text" style="font-weight: bolder;">Listado de Usuarios</h5>
      <button class="zoom btn btn-rounded float-right mt-2 custom-button" type="button" [routerLink]="['/user/form']" (click)='globalService.playAudioClick()'>
        Crear Usuario
      </button>
    </div>

    <!-- BODY -->
    <div class="card-body">
      <h6 class="text-white fade-in-top" style="font-family: georgia,garamond,serif; font-style: italic;">Buscar por nombre:</h6>
      <div class="row fade-in-top">
        <div class="col-10">
          <div class="form-group input-group">
            <input type="text" class="form-control" name="filter" [(ngModel)]="filterPost" placeholder="Ej: Juana"  style="font-family: georgia,garamond,serif; font-style: italic;">
            <div class="input-group-append" title="Eliminar Filtro"  *ngIf="filterPost != ''" (click)='noFilter()' style="cursor: pointer;">
              <span class="input-group-text nofilter">X</span>
            </div>
          </div>
        </div>
        <div class="col-2">
          <button class="zoom btn btn-rounded custom-button w-100" type="button"(click)='findUserByName(filterPost);globalService.playAudioClick()'>
            Buscar
          </button>
        </div>
      </div>
      <div *ngIf="users?.length<=0 && noResults == false" class="alert alert-info">
        No hay registros en la base de datos
      </div>
      <div *ngIf="users?.length<=0 && noResults == true" class="alert alert-warning">
        No existen coincidencias con la búsqueda "{{searched}}"
      </div>
      <table class="table table-dark table-hover table-responsive-xl tabla fade-in-top" *ngIf="users?.length>0">
        <thead>
          <tr style="background-color: rgb(231, 166, 105); cursor: default;">
            <th>Usuario</th>
            <th>Fecha Nacimiento</th>
            <th>Correo</th>
            <th>País</th>
            <!--<th>Password</th>-->
            <th>Rol</th>
            <th>FaceId</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users"  (mouseover)='globalService.playAudio()'>
            <td>{{ user.userName }}</td>
            <td>{{ user.birthdate }}</td>
            <td>{{ user.mail }}</td>
            <td>
              <img src="/assets/img/banderas/{{user.country}}.svg" title="{{user.country}}" alt="{{user.country}}" style="height: 30px;">
            </td>
            <!-- <td>{{ user.password }}</td>-->
            <td>{{ user.rol.name }}</td>
            <td style="width: 1px;">
              <button  *ngIf="user.faceId != null" type="button" name="subir" class="zoom btn btn-warning" [routerLink]="['/user/uploadform', user.idUser]" (click)='globalService.playAudioClick()' style="width: 40px; color: white;">
                <i class="fa fa-user" aria-hidden="true"></i>
              </button>
              <button  *ngIf="user.faceId == null" type="button" name="subir" class="zoom btn btn-outline-warning" [routerLink]="['/user/uploadform', user.idUser]" (click)='globalService.playAudioClick()' style="width: 40px; color: white;">
                <i class="far fa-user" aria-hidden="true"></i>
              </button>
            </td>
            <td style="width: 1px;">
              <button type="button" name="editar" class="zoom btn btn-info" [routerLink]="['/user/form', user.idUser]" (click)='globalService.playAudioClick()' style="width: 40px;">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            </td>
            <td style="width: 1px;">
              <button *ngIf="user.userName==authService.credentials.username" type="button" name="crear" class="btn btn-danger" disabled style="cursor: default;">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
              <button *ngIf="user.userName!=authService.credentials.username" type="button" name="crear" class="zoom btn btn-danger" (click)='deleteUser(user)' style="width: 40px;">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <app-user-paginator *ngIf="userPaginator && searched == ''" [userPaginator]="userPaginator"></app-user-paginator>
    </div>
  </div>
</div>