<div
    class="font-text bg-style homeplot m-3 fade-in w-50">

    <h1 class="m-3">
        Bienvenidos a Rhovanion Online
    </h1>
    <p class="m-3">
        Un juego de rol en línea en el cual sus jugadores podrán entramar batallas entre ellos y disfrutar del dulce sabor de la victoria,
        o del amargo gusto de la derrota. Subir de nivel mientras combaten, desbloquear habilidades impresionantes, entablar amistad con
        aquellos que una vez fueron enemigos y disfrutar viendo como vuestro personaje evoluciona subiendo de nivel.
    </p>

</div>